# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Unittests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env: 
      QT_DEBUG_PLUGINS: "1"

jobs:
  build:

    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        include:
          - operating-system: macos-latest
            python-version: '3.11'
            label: osx-64-py-3-11
            prefix: /Users/runner/miniconda3/envs/my-env

          - operating-system: windows-latest
            python-version: '3.11'
            label: win-64-py-3-11
            prefix: C:\Miniconda3\envs\my-env

          - operating-system: ubuntu-latest
            python-version: '3.11'
            label: linux-64-py-3-11
            prefix: /usr/share/miniconda3/envs/my-env

          - operating-system: ubuntu-latest
            python-version: '3.10'
            label: linux-64-py-3-10
            prefix: /usr/share/miniconda3/envs/my-env

          - operating-system: ubuntu-latest
            python-version: 3.9
            label: linux-64-py-3-9
            prefix: /usr/share/miniconda3/envs/my-env

          - operating-system: ubuntu-latest
            python-version: 3.8
            label: linux-64-py-3-8
            prefix: /usr/share/miniconda3/envs/my-env

    steps:
      - uses: actions/checkout@v2
      - name: Setup
        shell: bash -l {0}
        run: |
          sudo apt-get install libxcb-xinerama0
      - name: Setup
        shell: bash -l {0}
        run: |
          pip install -r requirements.txt
      - name: Test
        shell: bash -l {0}
        run: python -m unittest discover
