name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        qt-lib: [pyqt, pyside]
        python-version: ["3.8", "3.9", "3.10"]
        include:
          - python-version: "3.8"
            qt-lib: "pyqt"
            qt-version: "PyQt5~=5.15.0"
          - python-version: "3.8"
            qt-lib: "pyside"
            qt-version: "PySide2~=5.15.0"
          - python-version: "3.9"
            qt-lib: "pyqt"
            qt-version: "PyQt6~=6.2.0 PyQt6-Qt6~=6.2.0"
          - python-version: "3.9"
            qt-lib: "pyside"
            qt-version: "PySide6~=6.2.0"
          - python-version: "3.10"
            qt-lib: "pyqt"
            qt-version: "PyQt6"
          - python-version: "3.10"
            qt-lib: "pyside"
            qt-version: "PySide6-Essentials"
steps:
      # Clone le dépôt
      - uses: actions/checkout@v2
      # Installe les dépendances
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      # Exécutez les tests
      - name: Run tests
        run: |
          python -m unittest discover
